body#general{
    background-image: url(../Tugas_2_[18081010059]/vintage-wallpaper.png);
}

div#background{
    width: 1000px;
    height: 1400px;
    border: 1px solid transparent;
    position: absolute;
    top: 0px;
    left: 250px;
    text-align: justify;
    text-justify: inter-word;
    background-image: url(../Tugas_2_[18081010059]/webb.png)
}

h1#header{
    position: absolute;
    top: 17px;
    left: 555px;
}

img#profilepict{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 650px;
}

div#deskripsi{
    width: 400px;
    height: 1000px;
    border: 1px solid transparent;
    position: absolute;
    top: 400px;
    left: 550px;
    text-align: justify;
    text-justify: inter-word;
}
